$footer-background-color: #000000;
$footer-text-color: white;
$font-family-main: 'Montserrat', sans-serif;

.footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: 60px 30px 30px 20px; 

  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 

  .footer-logo {
    height: 40px;
    margin-bottom: 20px;
  }

  .footer-text {
    font-family: $font-family-main;
    font-size: 24px;
    font-weight: 500; 
    margin: 0; 
    text-align: center;
  }
}